<footer>
    <div class="footerContent">
        <div class="bigTitle">
            <h2>Melt</h2>
        </div>
        <div class="links">
            <p><a href="https://github.com/espcaa/melt" target="_blank" rel="noopener noreferrer">github repo</a></p>
            <p>Made with &lt;3 by teens at <a href="https://hackclub.com">hackclub</a>!</p>
        </div>
    </div>
</footer>

<style>
    footer {
        position: relative;
        z-index: 2;
        width: 100%;
        background-color: #2d2e2e;
        color: #fff;
        padding: 3rem 4rem;
    }

    .footerContent {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }

    .bigTitle h2 {
        font-family: "Playfair";
        font-size: 8rem;
        line-height: 1;
        margin: 0;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
    }

    .links p {
        color: #aaa;
        font-family: "Satoshi";
        font-size: 1rem;
        margin: 0;
    }

    a {
        color: #f8abff;
        text-decoration: wavy underline;
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        color: #f8abffcc;
    }

    a:active {
        color: #f8abff99;
    }

</style>
